<div class='feed'>
  <div class='headerLabel'>NEWS FROM WEB</div>
  <div class='list'>
  	{{#if feed}}
    {{> feed-items feed}}
    {{else}}
    <div class='feed_item'>
  	 <div class='secondary'>
      <div class='descr'>No content in this section..</div>
     </div>
    </div>
    {{/if}}
  </div>
</div>
