<div class='menu'>
   <div class="main_menu">
     <a class='item {{#if events}} active {{/if}}' href='/events'>Events</a>
     <a class='item {{#if opps}} active {{/if}}' href='/opps'>Opportunities</a>
     <a class='item {{#if datasrcs}} active {{/if}}' href='/datasrcs'>Data Sources</a>
     <a class='item {{#if wallposts}} active {{/if}}' href='/wallposts'>Data Viz Wall</a>
   </div>
   <div class="sec_menu">
     <a class='item' href='/about/info'>About</a>
     <a class='item' href='/api/info'>API</a>
   </div>
</div