{{#each this}}
  <div class='item'>
    <div class='content'>
      <div class='name'>{{organizationName}}</div>
      <div class='secondary'>{{timestamp}}</div>
      <div class='desc'>{{{description}}}</div>
    </div>
  </div>
{{/each}}