<form data-type='wallpost'>
   <div class="form-group row">
     <label class="col-form-label col-sm-3">Title</label>
     <div class='col-sm-9'>
     <input class="form-control" type="text" placeholder="New School Event 1" id="title" required>
     </div>
   </div>
   <div class="form-group row">
     <label class="col-sm-3" >Content (HTML allowed)</label>
     <div class='col-sm-9'>
     <textarea class="form-control" id="content" rows="5" required></textarea>
     </div>
   </div>
   <div class="form-group row">
     <label class="col-form-label col-sm-3">Your Name</label>
     <div class='col-sm-9'>
       <input class="form-control" type="text" id="from" required>
      </div>
   </div>
   <div class="form-group row">
     <label class="col-form-label col-sm-3">Your Email</label>
     <div class='col-sm-9'>
       <input class="form-control" type="text" id="fromEmail" required>
     </div>
   </div>
   <div class="form-group row">
   <label class="col-sm-3" ></label>
   <div class='col-sm-9'>
   <input type="submit" class="btn btn-primary" value="Submit"></input>
   </div>
   </div>
 </form>