  <!DOCTYPE html>
<html>
  <head>
  <head>
  	<title>New school | Data Visualization</title>
    <link rel="stylesheet" type="text/css" href="../css/main.css">
  </head>
  <body>
    <div>
      {{> header}}
    </div>
    <div>
      {{> menu}}
    </div>

    <div class='about'>
      <div class='title'>Data Visualization @ NEWSCHOOL</div>
      <div class='descr'>
        <span>Parsons’ Master of Science in Data Visualization is a multidisciplinary program in which students develop skills bringing together visual design, computer science, statistical analysis, and ethical considerations of data analysis and representation. The presentation of data plays a critical role in the shaping of opinion, policy, and decision making in today’s increasingly global society. Giving students a competitive edge as they enter the field, the MS program responds to the increased demand for experts who can turn data into insight.

This program is part of Parsons' School of Art, Media, and Technology (AMT). Learn about the AMT community and explore our blog to see what students, faculty, and alumni are doing in NYC and around the world.</span>
      </div>
    </div>
  </body>
</html>
