  <!DOCTYPE html>
<html>
  <head>
  <head>
  	<title>New school | Data Visualization</title>
    <link rel="stylesheet" type="text/css" href="../css/main.css">
  </head>
  <body>
    <div>
      {{> header}}
    </div>
    <div>
      {{> menu}}
    </div>

    <div class='api'>
      <div class='title'>Data Visualization API</div>
      <div class='descr'>
        <span>The API provides access to all the content posted here as JSON. Presently there are two post types that are available through an API.</span>
        <ul>
        <li>Events </li>
        <li>Opportunities </li>
        <li>Wallposts </li>
        </ul>
        The documentation below explains the structure of content and developer guide to access the API.
      </div>

      <div class='events-api'>
        <div class='title2'>Events</div>
        <div class='fields'>
          <div class='title3'>Fields</div>
          <div class='code'>
            <div class='field'><span class='key'>event_id (string): </span> <span class='value'>Unique id of event</span></div>
            <div class='field'><span class='key'>timestamp (string):  </span><span class='value'> start date and time of the event</span></div>
            <div class='field'><span class='key'>name (string):  </span><span class='value'>Name of event</span></div>
            <div class='field'><span class='key'>type (string):  </span><span class='value'>Type of event</span></div>
            <div class='field'><span class='key'>focus (string):  </span><span class='value'>brief description of the focus of the event</span></div>
            <div class='field'><span class='key'>endDate (string):  </span><span class='value'> end date and time of the event</span></div>
            <div class='field'><span class='key'>location (string):  </span><span class='value'>event location (city, state or country)</span></div>
            <div class='field'><span class='key'>url (string):  </span><span class='value'>URL with event information</span></div>
            <div class='field'><span class='key'>notes (string):   </span><span class='value'>notes about the event</span></div>
            <div class='field'><span class='key'>from (string) :</span><span class='value'> name of the person who posted the event</span></div>
              <div class='field'><span class='key'>fromEmail (string) :</span><span class='value'>email of the person who posted the event</span></div>
              <div class='field'><span class='key'>authentication (number) :</span><span class='value'>authentication status : 1 - not authenticated and not published, 2 - authenticated and published</span></div>
          </div>
        </div>
          <div class='endpoint'>
            <div class='title3'>Endpoint</div>
            <div class='code'>
              <a href='/api/items/events/0' target='_blank'>/api/items/events/[start-pos]</a>
              <div class='field'><span class='key'>start-pos :</span><span class='value'> the api gives 10 results starting from this number</span></div>
            </div>
          </div>
      </div>
      <div class='opps-api'>
        <div class='title2'>Opportunities</div>
        <div class='fields'>
          <div class='title3'>Fields</div>
            <div class='code'>
              <div class='field'><span class='key'>opp_id (string) :</span><span class='value'> unique id of the opportunity</span></div>
              <div class='field'><span class='key'>timestamp (long) :</span><span class='value'> start date and time of the event</span></div>
              <div class='field'><span class='key'>organizationName (string) :</span><span class='value'> name of organization</span></div>
              <div class='field'><span class='key'>url (string) :</span><span class='value'> URL with information about the organization or opportunity</span></div>
              <div class='field'><span class='key'>newSchool (boolean) :</span><span class='value'> true if this opportunity is affiliated with The New School</span></div>
              <div class='field'><span class='key'>position (boolean) :</span><span class='value'> true if this is a work opportunity: internship, job, or other position, whether paid or unpaid</span></div>
              <div class='field'><span class='key'>unpaidPosition (boolean) :</span><span class='value'> true if this position is unpaid</span></div>
              <div class='field'><span class='key'>parttimePosition (boolean) :</span><span class='value'> true if this position is a paid, part-time position</span></div>
              <div class='field'><span class='key'>fulltimePosition (boolean) :</span><span class='value'> true if this position is a paid, full-time position</span></div>
              <div class='field'><span class='key'>grantFellowship (boolean) :</span><span class='value'> true if this is a grant or fellowship</span></div>
              <div class='field'><span class='key'>eligibleAcademic (boolean) :</span><span class='value'> true if this may be eligible for academic credit</span></div>
              <div class='field'><span class='key'>description (string) :</span><span class='value'> notes about the opportunity</span></div>
              <div class='field'><span class='key'>contactName (string) :</span><span class='value'> name of contact person</span></div>
              <div class='field'><span class='key'>contactEmail (string) :</span><span class='value'> email address of contact person</span></div>
              <div class='field'><span class='key'>from (string) :</span><span class='value'> name of the person who posted the opportunity</span></div>
              <div class='field'><span class='key'>fromEmail (string) :</span><span class='value'>email of the person who posted the opportunity</span></div>
              <div class='field'><span class='key'>authentication (number) :</span><span class='value'>authentication status : 1 - not authenticated and not published, 2 - authenticated and published</span></div>
            </div>
          </div>
          <div class='endpoint'>
            <div class='title3'>Endpoint</div>
            <div class='code'>
              <a href='/api/items/opps/0' target='_blank'>/api/items/opps/[start-pos]</a>
              <div class='field'><span class='key'>start-pos :</span><span class='value'> the api gives 10 results starting from this number</span></div>
            </div>

          </div>
        </div>
         <div class='opps-api'>
        <div class='title2'>Wall Posts</div>
        <div class='fields'>
          <div class='title3'>Fields</div>
            <div class='code'>
              <div class='field'><span class='key'>wp_id (string) :</span><span class='value'> unique id of the wallpost</span></div>
              <div class='field'><span class='key'>timestamp (long) :</span><span class='value'> date post was added</span></div>
              <div class='field'><span class='key'>title (string) :</span><span class='value'> title of the post</span></div>
              <div class='field'><span class='key'>content (string) :</span><span class='value'> content for the post</span></div>
              <div class='field'><span class='key'>from (string) :</span><span class='value'> name of the person who added the post</span></div>
              <div class='field'><span class='key'>fromEmail (string) :</span><span class='value'>email of the person who addded the post</span></div>
              <div class='field'><span class='key'>authentication (number) :</span><span class='value'>authentication status : 1 - not authenticated and not published, 2 - authenticated and published</span></div>
            </div> 
          </div>
          <div class='endpoint'>
            <div class='title3'>Endpoint</div>
            <div class='code'>
              <a href='/api/items/opps/0' target='_blank'>/api/items/wallposts/[start-pos]</a>
              <div class='field'><span class='key'>start-pos :</span><span class='value'> the api gives 10 results starting from this number</span></div>
            </div>

          </div>
        </div>
    </div>
  </body>
</html>
