  <!DOCTYPE html>
<html>
  <head>
  <head>
  	<title>New school | Data Visualization</title>
  </head>
  <body>
    <div>
    {{> header}}
    </div>
    <div>
    {{> menu this}}
    </div>
    <div class="contentSpace">
    <div class="alert alert-success" role="alert">
    </div>
    <div class='form'>
      {{#if events}}
        {{> event-form this}}
      {{else if opps}}
       {{> opp-form this}}
      {{else if wallposts}}
       {{> wallpost-form this}}
       {{else if datasrcs}}
       {{> datasrc-form this}}
      {{/if}}
    </div>
    </div>
    {{> footer}}
  </body>
</html>
