  <!DOCTYPE html>
<html>
  <head>
  <head>
  	<title>New school | Data Visualization</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.5/css/bootstrap.min.css" integrity="sha384-AysaV+vQoT3kOAXZkl02PThvDr8HYKPZhNT5h/CXfBThSRXQ6jW5DO2ekP5ViFdi" crossorigin="anonymous">
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.5/js/bootstrap.min.js" integrity="sha384-BLiI7JTZm+JWlgKa0M0kGRpJbF2J8q+qreVrKBC47e3K6BW78kGLrCkeRX6I9RoK" crossorigin="anonymous"></script>
    <link rel="stylesheet" type="text/css" href="../css/main.css">
  </head>
  <body>
    <div>
    {{> header}}
    </div>
    <div>
    {{> menu this}}
    </div>
    <div class="contentSpace">
    <div class='form'>
      <form>
        <div class="form-group row">
          <label for="example-text-input" class="col-form-label">Title</label>
          
            <input class="form-control" type="text" value="Artisanal kale" id="example-text-input">
          
        </div>
        <div class="form-group row">
          <label for="example-datetime-local-input" class="col-form-label">Start Date</label>
          
            <input class="form-control" type="datetime-local" value="2011-08-19T13:45:00" id="example-datetime-local-input">
        </div>
        <div class="form-group row">
          <label for="example-datetime-local-input" class="col-form-label">End Date</label>
          
            <input class="form-control" type="datetime-local" value="2011-08-19T13:45:00" id="example-datetime-local-input">
        </div>
        <div class="form-group">
          <label for="exampleTextarea">Description</label>
          <textarea class="form-control" id="exampleTextarea" rows="3"></textarea>
        </div>
        <div class="form-group row">
          <label for="example-text-input" class="col-form-label">Location</label>
          
            <input class="form-control" type="text" value="Artisanal kale" id="example-text-input">
        </div>
        <div class="form-group row">
          <label for="example-text-input" class="col-form-label">Link</label>
          
            <input class="form-control" type="text" value="Artisanal kale" id="example-text-input">
        </div>

        <button type="submit" class="btn btn-primary">Submit</button>
      </form>
    </div>
    </div>
  </body>
</html>
