  <!DOCTYPE html>
<html>
  <head>
  <head>
  	<title>New school | Data Visualization</title>
    <link rel="stylesheet" type="text/css" href="../css/main.css">
  </head>
  <body>
    <div>
      {{> header}}
    </div>
    <div>
      {{> menu}}
    </div>
    <div class="contentSpace">
    <div class='opps'>
    {{#each opps}}
      <div class='opportunity'>
        <div class='content'>
          <div class='name'>{{organizationName}}</div>
          <div class='secondary'>{{timestamp}}</div>
          <div class='desc'>{{{description}}}</div>
        </div>
      </div>
    {{/each}}
    </div>
    </div>
  </body>
</html>
