  <!DOCTYPE html>
<html>
  <head>
  <head>
  	<title>New school | Data Visualization</title>
    <link rel="stylesheet" type="text/css" href="../css/main.css">
  </head>
  <body>
    <div>
    {{> header}}
    </div>
    <div>
    {{> menu this}}
    </div>
    <div class="contentSpace">
    <div class='events'>
    {{#each wallposts}}
      <div class='event'>
        <div class='content'>
          <a  href='{{url}}' target="_blank" class='name'>{{title}}</a>
          <div class='secondary'>{{timestamp}}</div>
          <div class='desc'>{{{content}}}</div>
        </div>
      </div>
    {{/each}}
    </div>
    {{> feed}}
    </div>
  </body>
</html>
