  <!DOCTYPE html>
<html>
  <head>
  <head>
  	<title>New school | Data Visualization</title>
    <link rel="stylesheet" type="text/css" href="../css/main.css">
  </head>
  <body>
    <div>
    {{> header}}
    </div>
    <div>
    {{> menu this}}
    </div>
    <div class="contentSpace">
    <div class='wallposts items'>
    {{#each wallposts}}
      <div class='post'>
        <div class='content'>
          <div class='primary'>
          <div class='name'>{{title}}</div>

          </div>
          <div class='secondary'><span class='from'>{{from}}</span>, {{timestamp}}</div>
          <div class='desc'>{{{content}}}</div>
        </div>
      </div>
    {{/each}}
    </div>
    {{> feed}}
    </div>
    <div>
    {{> footer}}
    </div>
  </body>
</html>
