  <!DOCTYPE html>
<html>
  <head>
  <head>
  	<title>New school | Data Visualization</title>
  	<style>
  		body{
  			margin: 0;
  			font-family: sans-serif;
        padding: 25px;
        background-color: #f44336;
        background-image: url("images/parsons_logo.png");
        background-repeat: no-repeat;
        background-position: 25px;
  		}
      .dummy{
        padding-top: 100px;
      }

  	</style>
  </head>
  <body>
    <div class='dummy'>
    </div>
    <div class='dummy'>
    Welcome. This is the home for Data Viz Program API.
    </div>
  </body>
</html>
