.events{
	width: 56%;
	background-color: #f9f9f9;
	border: 1px solid #f1f1f1;
	padding: 0 2%;
	margin-right: 2%;
	display: inline-block;
	height: 75vh;
	overflow:scroll;
	.meta{
		padding: 20px 0;
		.btn{
			height: 20px;
		    float: right;
		    text-align: center;
		    padding: 5px 10px;
		    border: 2px solid;
		    border-radius: 5px;
		    line-height: 200%;
		    font-size: 75%;
		    cursor: pointer;
		    text-decoration: none;
		    color: $font-color;
		}
	}
	.event{
		padding: 20px 10px;
		border-bottom: 1px solid #f1f1f1;
		.content{
			margin-left: 1%;
			display: inline-block;
			.name{
				font-size: 150%;
				padding: 5px 0;
				color: $parsons-red;
				text-decoration: underline;
			}
			.secondary{
				padding: 5px 0;
			}
			.desc{
				padding: 10px 0;
				line-height: 130%;
			}
		}
	}
	
}