@font-face {
font-family: 'Neue';
src: url("../fonts/Neue-Regular.otf") format("opentype");
}

@font-face {
font-family: 'Neue';
font-weight: bold;
src: url("../fonts/Neue-Bold.otf") format("opentype");
}

$parsons-red : #0277bd;
$font-color: #5D6068;
$very-light-neutral: #eee;

@import 'items';
@import 'api';
@import 'about';

body{
  margin: 0;
  padding: 0;
  font-family: 'Neue',sans-serif;
  color: $font-color;
  font-size: 14px;
  .alert.fixed{
  	position: fixed;
  	bottom: 5%;
  	left: 5%;
  	width: 50%;
  	left: 50%;
  	margin-left: -25%;
  	text-align: center;
  	&.top{
  		top: 15%;
  		bottom: inherit;
  	}
  }
}
.header{
  height: 50px;
  background-color: $parsons-red;
  padding: 10px 50px;
  	object{
	  height: 100%;
	  float: left;
	}
	.dept{
	  float: right;
	  height: 140%;
	  color: #fff;
	  font-size: 125%;
	}
}

.contentSpace{
	width: 95%;
	margin: 20px auto;

	.items,.list {
		.pagingControl{
			text-align: center;
		    padding: 20px 0;
		    text-decoration: underline;
		    cursor: pointer;
		}
		.alert{
			display: block;
		}
	}
	.alert{
		display: none;
	}
	.form{
		width: 80%;
		padding: 0 2%;
		margin-right: 2%;
		display: inline-block;
		padding: 20px;
		.form-group{
			margin-left: 0;
			label{
				font-weight: bold;
			}
		}
	}
	.feed{
		width: 35%;
		height: 75vh;
		display: inline-block;
		vertical-align: top;
		.headerLabel{
			color: $parsons-red;
   			margin-bottom: 5px;
   			height: 5%;
   			font-weight: bold;
		}
		.list{
			background-color: #f9f9f9;
			overflow:scroll;
			height: 95%;
			border: 1px solid double $font-color;
			.feed_item{
				padding: 25px 5px;
				margin: 0 10px;
				border-bottom: 1px solid $very-light-neutral;
				.primary{
					margin-bottom: 5px;
					.title{
						font-weight: bold;
					    text-decoration: underline;
					    display: inline-block;
					    width: 74%;
					    color: $font-color;
					}
					.sourceName{
						display: inline-block;
					    font-size: 70%;
					    width: 21%;
					    vertical-align: top;
					    padding: 2px;
					    border: 1px solid $font-color;
					    border-radius: 3px;
					    text-align: center;
					    text-decoration: none;
					    color: $font-color;
					}
					
				}
				.secondary{
					.descr{
						font-size: 80%;
					}
					.img{
						height: 200px;
						width: auto;
						background-position: center;
					    background-size: 100% auto;
					    background-repeat: no-repeat;
					}
					.date{
						font-size: 70%;
		    			width: 24%;
		    			margin-bottom: 10px;
					}
				}
			}
		}
	}
}
.menu{
  height: 50px;
  width: 100%;
  padding: 0 2.5%;
  background-color: #f1f1f1;
  border-bottom: 1px solid #ddd;
	.main_menu{
	  float: left;
	  height: 100%;
	  width: 70%;
	}
	.sec_menu{
  	  float: right;
  	  height: 100%;
  	  width: 30%;
  	  .item{
  	  	float: right;
  	  	line-height: 50px;
  	  }
	}
	.item{
	  display: inline-block;
	  vertical-align: middle;
	  line-height: 50px;
	  padding: 0 25px;
	  border-right: 1px solid #ddd;
	  cursor: pointer;
	  text-decoration: none;
	  color:$font-color;
	}
	.item.active{
		color: $parsons-red;
		font-weight: bold;
		font-size: 110%;
	}
	.sec_menu .item{
	  padding: 0 15px;
	  border-right: 0;
	  &.active{
	  	color: $parsons-red;
  		font-size: 110%;
	  }
	}
}