.events {
  width: 56%;
  background-color: #f9f9f9;
  border: 1px solid #f1f1f1;
  padding: 0 2%;
  margin-right: 2%;
  display: inline-block;
  height: 75vh;
  overflow: scroll; }
  .events .event {
    padding: 20px 10px;
    border-bottom: 1px solid #f1f1f1; }
    .events .event .content {
      margin-left: 1%;
      display: inline-block; }
      .events .event .content .name {
        font-size: 150%;
        padding: 5px 0;
        color: #E82E21;
        text-decoration: underline; }
      .events .event .content .secondary {
        padding: 5px 0; }
      .events .event .content .desc {
        padding: 10px 0;
        line-height: 130%; }

.opps {
  width: 56%;
  background-color: #f9f9f9;
  border: 1px solid #f1f1f1;
  padding: 0 2%;
  margin-right: 2%;
  display: inline-block;
  height: 75vh;
  overflow: scroll; }
  .opps .opportunity {
    padding: 30px 10px;
    border-bottom: 1px solid #f1f1f1; }
    .opps .opportunity .content {
      margin-left: 1%;
      display: inline-block; }
      .opps .opportunity .content .name {
        font-size: 175%;
        padding: 5px 0;
        color: #E82E21; }
      .opps .opportunity .content .secondary {
        padding: 5px 0; }
      .opps .opportunity .content .desc {
        padding: 10px 0;
        line-height: 130%; }

.api {
  width: 80%;
  margin: 20px auto;
  padding: 2% 5%;
  padding-bottom: 5%;
  background-color: #fff;
  border: 1px solid #f1f1f1; }
  .api .title {
    font-size: 150%;
    margin-bottom: 20px; }
  .api .descr {
    margin-bottom: 20px; }
  .api .title2 {
    font-size: 125%;
    margin-bottom: 20px; }
  .api .title3 {
    font-size: 110%;
    margin-bottom: 10px; }
  .api .events-api, .api .opps-api {
    margin-bottom: 35px; }
    .api .events-api .code, .api .opps-api .code {
      background-color: #eee;
      padding: 2%;
      border-radius: 5px; }
      .api .events-api .code .field, .api .opps-api .code .field {
        margin-bottom: 10px; }
        .api .events-api .code .field .key, .api .opps-api .code .field .key {
          font-weight: bold;
          padding-right: 5px; }
    .api .events-api a, .api .opps-api a {
      text-decoration: underline;
      color: #5D6068;
      display: block; }
  .api .fields {
    margin-bottom: 20px;
    padding: 0 15px; }
  .api .endpoint {
    padding: 0 15px; }

.wallposts {
  width: 56%;
  background-color: #f9f9f9;
  border: 1px solid #f1f1f1;
  padding: 0 2%;
  margin-right: 2%;
  display: inline-block;
  height: 75vh;
  overflow: scroll; }
  .wallposts .post {
    padding: 20px 10px;
    border-bottom: 1px solid #f1f1f1; }
    .wallposts .post .content {
      margin-left: 1%;
      display: inline-block; }
      .wallposts .post .content .primary .name {
        font-size: 150%;
        padding: 5px 0;
        color: #E82E21;
        text-decoration: underline;
        display: inline-block;
        width: 70%; }
      .wallposts .post .content .secondary {
        padding: 5px 0; }
        .wallposts .post .content .secondary .from {
          font-weight: bold; }
      .wallposts .post .content .desc {
        padding: 10px 0;
        line-height: 130%; }

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background-image: url("../images/bg.png");
  color: #5D6068; }

.header {
  height: 50px;
  background-color: #E82E21;
  padding: 10px 50px; }
  .header object {
    height: 100%;
    float: left; }
  .header .dept {
    float: right;
    height: 140%;
    line-height: 70px;
    color: #fff;
    font-size: 125%; }

.contentSpace {
  width: 95%;
  margin: 20px auto; }
  .contentSpace .feed {
    width: 36%;
    height: 75vh;
    display: inline-block;
    vertical-align: top; }
    .contentSpace .feed .headerLabel {
      color: #E82E21;
      margin-bottom: 5px;
      height: 5%;
      font-weight: bold; }
    .contentSpace .feed .list {
      background-color: #f9f9f9;
      overflow: scroll;
      height: 95%;
      border: 1px solid double #5D6068; }
      .contentSpace .feed .list .feed_item {
        padding: 25px 5px;
        margin: 0 10px;
        border-bottom: 1px solid #eee; }
        .contentSpace .feed .list .feed_item .primary {
          margin-bottom: 5px; }
          .contentSpace .feed .list .feed_item .primary .title {
            font-weight: bold;
            text-decoration: underline;
            display: inline-block;
            width: 74%;
            color: #5D6068; }
          .contentSpace .feed .list .feed_item .primary .sourceName {
            display: inline-block;
            font-size: 70%;
            width: 21%;
            vertical-align: top;
            padding: 2px;
            border: 1px solid #5D6068;
            border-radius: 3px;
            text-align: center;
            text-decoration: none;
            color: #5D6068; }
        .contentSpace .feed .list .feed_item .secondary .descr {
          font-size: 80%; }
        .contentSpace .feed .list .feed_item .secondary .date {
          font-size: 70%;
          width: 24%;
          margin-bottom: 10px; }

.menu {
  height: 50px;
  width: 95%;
  padding: 0 2.5%;
  background-color: #f1f1f1;
  border-bottom: 1px solid #ddd; }
  .menu .main_menu {
    float: left;
    height: 100%; }
  .menu .sec_menu {
    float: right;
    height: 100%;
    font-size: 80%; }
  .menu .item {
    display: inline-block;
    vertical-align: middle;
    line-height: 50px;
    padding: 0 25px;
    border-right: 1px solid #ddd;
    cursor: pointer;
    text-decoration: none;
    color: #5D6068; }
  .menu .item.active {
    color: #E82E21;
    font-weight: bold;
    font-size: 110%; }
  .menu .sec_menu .item {
    padding: 0 15px;
    border-right: 0; }
    .menu .sec_menu .item.active {
      color: #E82E21;
      font-size: 110%; }

/*# sourceMappingURL=main.css.map */
